

@font-face{
  font-family: 'OperatorMonoBold';
  src: url('../fonts/Operator Mono/OperatorMono-MediumItalic.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
.search {
    flex: 0.35;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background);
    border-top: 1px solid var(--background);
    border-bottom: 1px solid var(--background);
    padding-bottom: 9px;
    padding-top: 5px;
  }
  
  .search__input {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .search__input > input {
    font-family: 'OperatorMonoBold';
    border: none !important;
    background-color: var(--twitter-background);
    outline-style: none !important;
  }
  
  
  .search__searchIcon {
    color: gray;
  }
  
  .search__Container {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  
  .search__Container > h2 {
    font-size: 18px;
    font-weight: 800;
  }